
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./bg3.png') no-repeat;
    background-size: cover;
}

.container {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center; /* Center align the form */
    max-width: 600px;
    margin-right: 200px;
}

.input-box {
    display: inline-block;
    margin: 0 10px; /* Adjust spacing between input fields */
    padding-bottom: 15px;
    padding-right: 5px;
}

.input-items {
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
    border-left: 3px solid #b9320d;
    border-radius: 8px;
    width: 250px;
    height: 40px;
    padding-bottom: 5px;
    color: #fda015;

    font-size: 16px;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(35, 45, 45, 0.991);
    padding-left: 4px;

    animation: anime_input_box 5s infinite ease-in-out;
}

@keyframes anime_input_box {
    0% {
        box-shadow: 5px 5px 5px rgba(35, 45, 45, 0.733);
    }
    20% {
        box-shadow: 5px 5px 5px rgba(54, 56, 56, 0.564);
    }
    40% {
        box-shadow: 5px 5px 5px rgba(13, 16, 16, 0.758);
    }
    60% {
        box-shadow: 5px 5px 5px rgba(27, 30, 30, 0.454);
    }
    80% {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.991);
    }
    100% {
        box-shadow: 5px 5px 5px rgba(35, 45, 45, 0.733);
    }
}

.input-items:hover {
    border-left: none;
    border-right: 3px solid rgb(255, 0, 0);
}

.icon{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0;
}

.container h2 {
    padding-top: 5px;
    padding-bottom: 35px;
    color: rgb(59, 57, 57);
}

.predict_btn {
    width: 100px;
    height: 40px;
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 16px;

    margin: auto;

    border: none;
    background-color: transparent;
    border-left: 3px solid #b9320d;
    border-right: 3px solid #b9320d;
    border-radius: 8px;
    cursor: pointer;

}

.form-inline .predict_btn:hover {
    background-color: rgb(56, 255, 102);
    color: white;
    box-shadow: 5px 8px 20px rgb(56, 255, 102);
}


.form-inline .predict_btn{
    color: #8b8a89;
    text-align: center;
    position: relative;
    font-weight: 800;
}

.form-inline {
    padding-bottom: 3%;
}

/* Alert */

.error-message {
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
    color: white;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    bottom: 7px;
    height: 40px;
    width: 300px;

    background-color: rgb(255, 0, 0, 0.3);
    color: rgb(11, 10, 10);
    font-weight: 700;
    border: 1px solid red;
    border-radius: 10px;
    padding: 3px 3px;

    animation: fadeout 12s forwards;
}

.success_message {
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
    color: white;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    bottom: 7px;
    height: 40px;
    width: 300px;

    background-color: rgba(20, 255, 118, 0.861);
    color: rgb(11, 10, 10);
    font-weight: 700;
    border: 1px solid rgb(37, 255, 106);
    border-radius: 10px;
    padding: 3px 3px;

    animation: fadeout 12s forwards;
}

@keyframes fadeout {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}

.navigation_bar a {
    position: relative;
    font-size: 1.1em;
    color: #162938;
    text-decoration: none;
    font-weight: 550;
    margin-left: 40px;
}

/* Logout */

.btnlogout-popup {
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #FFB74C;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #162938;
    font-weight: 500;
    text-align: center;
} 

.btnlogout-popup {
    margin-left: 30px;
}

.btnlogout-popup:hover {
    background-color: #F9CE90;
    color: #162938;
}

/*  */

.ml_p {
    display: block;
    margin-bottom: 2%;
    padding-left: 10px;
    padding-top: 2%;
    padding-bottom: 1.9%;
    font-weight: bold;
    align-items: center;
}

.radio-button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    padding-left: 4%;
    padding-bottom: 2%;
}

.radio-button-group input[type="radio"] {
    display: none;
}

.radio-button-group label {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 15%;

    border: 2px solid rgb(87, 58, 35);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    padding : 0 10px;           /* Top and bottom padding is 0, right and left padding is 10px */
}

.radio-button-group input[type="radio"]:checked + label {
    background-color: rgb(247, 216, 160);
    color: #010101;
    border-color: #603030;
}
.radio-button-group input[type="radio"]:checked + label::after {
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    margin-left: 8px;
}

